.left {
    float: left;
}
.right {
    margin-left: 300px;
}
.editable td, .editable th {
    border: 1px solid black;
    padding: 5px;
}

.editable {
    border: 1px solid black;
    border-spacing: 3px;
}
.invalid {
    border: 2px solid red !important;
}
#message {
    display: none;
    color: green;
}
#message.error {
    color: red;
}
#new_record input, #submit {
    display: block;
    margin-top: 5px;
}
fieldset {
    display: inline-block;
    margin-top: 10px;
}
